.card {
  border: rem(1px) solid $black10;
  margin-left: rem(-1px);
  margin-top: rem(-1px);
  padding: rem(16px);
  position: relative;
  &:hover {
    .card__quick-view {
      opacity: 1;
      visibility: visible;
    }
  }
}
.card__badge {
  border-radius: rem(4px);
  height: rem(24px);
  padding: 0 rem(12px);
  position: absolute;
  top: rem(8px);
  right: rem(8px);
  font-size: rem(11px);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: rem(1px);
  &.--hit {
    background-color: #f2ac44;
    color: #fff;
  }
  &.--new {
    background-color: #648cc9;
    color: #fff;
  }
  &.--sale {
    background-color: #ff493e;
    color: #fff;
  }
}
.card__quick-view {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: rem(180px);
  display: flex;
  height: rem(32px);
  align-items: center;
  justify-content: center;
  border-radius: 0 0 rem(8px) rem(8px);
  background-color: $black05;
  color: $black80;
  text-transform: uppercase;
  font-size: rem(11px);
  letter-spacing: 0.05em;
  opacity: 0;
  visibility: hidden;
  transition: all $time;
  @include media-breakpoint-down(sm){
    display: none !important;
  }
  &:hover {
    background-color: $primary;
    color: #fff;
    img {
      filter: brightness(200%);
    }
  }
  img {
    display: block;
    width: rem(16px);
    margin-right: rem(4px);
  }
}
.card__img {
  padding: 0 rem(16px);
  margin-bottom: rem(24px);
  display: block;
}
.card__title {
  font-size: rem(15px);
  font-weight: bold;
  color: $primary;
  line-height: 100%;
  margin-bottom: rem(14px);
  display: block;
}
.card__specs {
  font-size: rem(13px);
  color: $black60;
  line-height: 100%;
  margin-bottom: rem(20px);
  display: block;
  p {
    margin: 0;
    & + p {
      margin-top: rem(4px);
    }
  }
}
.card__price {
  font-size: rem(13px);
  color: $black100;
  line-height: 1;
  margin-right: rem(40px);
  margin-bottom: rem(16px);
  @include media-breakpoint-down(sm) {
    margin-right: 0;
    margin-bottom: 16px;
  }
  span {
    font-size: rem(15px);
    font-weight: bold;
  }
  p {
    margin: 0;
    & + p {
      margin-top: rem(4px);
    }
  }
}
.card__to-basket {
  width: 100%;
  height: rem(40px);
  font-size: rem(14px);
}
.card__ask-price {
  font-size: rem(14px);
  display: block;
  text-align: center;
  padding-top: rem(12px);
}
