.contacts {
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: -24px;
  margin-bottom: rem(40px);
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}
.contacts__col {
  width: calc(50% - 24px);
  margin-left: 24px;
  @include media-breakpoint-down(sm) {
    width: calc(100% - 24px);
  }
}
.contacts__contacts-item {
  display: flex;
  align-items: center;
  & + .contacts__contacts-item {
    margin-top: rem(24px);
  }
}
.contacts__contacts-ico {
  width: rem(32px);
  float: left;
  margin-right: rem(20px);
  flex: 0 0 auto;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.contacts__contacts-text {
}
.contacts__feedback {
  padding: rem(24px);
  background-color: $black05;
  border-radius: rem(8px);
  @include media-breakpoint-down(sm) {
    margin-top: 32px;
  }
}
.contacts__h3 {
  font-size: rem(16px);
  margin-top: 0;
  margin-bottom: rem(18px);
}
.contacts__feedback-row {
  display: flex;
  margin-left: -16px;
  margin-bottom: rem(16px);
}
.contacts__feedback-input {
  width: calc(50% - 16px);
  margin-left: 16px;
  input {
    width: 100%;
    height: rem(40px);
    border: rem(1px) solid $black20;
    border-radius: rem(4px);
    font-size: rem(14px);
    padding-left: rem(8px);
  }
}
.contacts__feedback-text {
  margin-bottom: rem(16px);
  textarea {
    width: 100%;
    height: rem(88px);
    border: rem(1px) solid $black20;
    border-radius: rem(4px);
    font-size: rem(14px);
    padding-left: rem(8px);
    padding-top: rem(8px);
    margin: 0;
    display: block;
  }
}
.contacts__feedback-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
.contacts__feedback-btn {
  width: rem(134px);
  height: rem(40px);
  font-size: rem(14px);
}
.contacts__h2 {
}
.contacts__map {
  margin-bottom: rem(40px);
}
