.filter{
  &.--mob-visible{
    @include media-breakpoint-down(sm){
      .filter__section{
        display: block;
      }
      .filter__btns{
        display: block;
      }
    }
  }
}
.filter__h2{
  font-size: rem(18px);
  color: $black80;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 rem(16px);
  padding-top: rem(16px);
  margin-bottom: rem(8px);
  position: relative;
  @include media-breakpoint-down(sm){
    &:after{
      content: '';
      width: 24px;
      height: 24px;
      background-image: url(../images/filter__plus.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 8px;
      top: 8px;
    }
    &.--mob-visible{
      &:after{
        background-image: url(../images/filter__minus.svg);
      }
      .filter__section{
        display: block;
      }
      .filter__btns{
        display: block;
      }
    }
  }
}
.filter__section{
  padding: rem(16px);
  border-bottom: rem(1px) solid $black10;
  @include media-breakpoint-down(sm){
    display: none;
  }
  select{
    width: 100%;
    border: rem(1px) solid $black20;
    height: rem(32px);
    font-size: rem(13px);
    color: $black80;
    border-radius: rem(4px);
    cursor: pointer;
    &:hover{
      border-color: $black40;
    }
  }
}
.filter__h3{
  font-size: rem(14px);
  margin-top: 0;
  margin-bottom: rem(16px);
}
.filter__checkboxes{
  display: flex;
  flex-wrap: wrap;
}
.filter__checkbox{
  display: block;
  padding-left: rem(22px);
  @include clearfix;
  width: 100%;
  margin-top: rem(8px);
  input{
    float: left;
    margin-left: rem(-22px);
    margin-top: rem(3px);
  }
  span{
    display: block;
    font-size: rem(14px);
    color: $black80;
  }
  &.--half{
    width: 50%;
  }
}
.filter__btns{
  display: flex;
  padding: rem(16px);
  justify-content: space-between;
  @include media-breakpoint-down(sm){
    display: none;
  }
}
.filter__btn{
  width: calc(50% - 8px);
  height: rem(40px);
  font-size: rem(14px);
}