.header {
  margin-bottom: rem(24px);
  position: relative;
  z-index: 20;
}
.header__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: rem(48px);
  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
    height: auto;
    padding: 12px 0;
  }
}
.header__lang {
  font-size: rem(14px);
  color: $black70;
  @include media-breakpoint-down(sm) {
    width: 50%;
  }
}
.header__social {
  display: flex;
  @include media-breakpoint-down(sm) {
    width: 50%;
    justify-content: flex-end;
  }
}
.header__social-item {
  width: rem(20px);
  & + .header__social-item {
    margin-left: rem(8px);
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.header__contacts {
  display: flex;
  align-items: center;
  @include media-breakpoint-down(sm) {
    width: 100%;
    justify-content: space-between;
    margin: 8px 0;
  }
}
.header__tel {
  font-size: rem(18px);
  color: $primary;
  font-weight: bold;
  margin-right: rem(16px);
  @include media-breakpoint-down(sm) {
    font-size: 13px;
  }
}
.header__callback {
  display: flex;
  height: rem(32px);
  width: rem(182px);
  align-items: center;
  justify-content: center;
  border: rem(1px) solid $black40;
  border-radius: rem(4px);
  font-size: rem(11px);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $black80;
  padding-top: rem(2px);
  @include media-breakpoint-down(sm) {
    order: 3;
  }
  &:hover {
    border-color: $primary;
    color: $primary;
    background-color: #fff;
  }
}
.header__mail {
  font-size: rem(14px);
  color: $black60;
  margin-left: rem(16px);
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.header__profile {
  display: flex;
}
.header__profile-auth {
  font-size: rem(14px);
  color: $primary;
  & + .header__profile-auth {
    margin-left: rem(16px);
  }
}
.header__basket {
  position: relative;
  img {
    width: rem(24px);
  }
  span {
    display: flex;
    width: rem(14px);
    height: rem(14px);
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: $primary;
    border-radius: rem(10px);
    font-size: rem(12px);
    position: absolute;
    left: 100%;
    bottom: 100%;
    margin-left: rem(-6px);
    margin-bottom: rem(-6px);
    line-height: rem(14px);
  }
}
.header__bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: rem(88px);
  align-items: center;
  background: $primary;
  border-radius: rem(8px);
  padding: 0 rem(16px) 0 rem(24px);
}
.header__logo {
  width: rem(152px);
  padding-bottom: rem(4px);
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.header__search {
  position: relative;
  input[type="search"] {
    height: rem(48px);
    border: rem(1px) solid #3172c1;
    border-radius: rem(4px);
    padding: 0 rem(36px) 0 rem(8px);
    color: #fff;
    font-size: rem(14px);
    width: rem(184px);
    background-color: transparent;
    transition: all $time;
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
    &:focus {
      border-color: rgba(255, 255, 255, 0.3);
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  input[type="submit"] {
    width: rem(16px);
    height: rem(16px);
    border: 0;
    text-indent: rem(-9999px);
    background-color: transparent;
    background-image: url("../images/header__search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: rem(10px);
    top: rem(16px);
  }
  #searchResult{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 46px 80px rgba(0, 0, 0, 0.07), 0px 19.2177px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 10.2747px 17.869px rgba(0, 0, 0, 0.0417275), 0px 5.75991px 10.0172px rgba(0, 0, 0, 0.035), 0px 3.05905px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 1.27294px 2.21381px rgba(0, 0, 0, 0.0196802);
  }
  h1{
    display: none;
  }
  .item{
    border-bottom: 1px solid $black10;
  }
  .tabloid{
    display: flex;
    padding: rem(8px);
    align-items: flex-start;
  }
  .picture{
    width: rem(80px);
    border: rem(1px) solid $black10;
    margin-right: rem(8px);
    img{
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .price2{
    display: none;
  }
  .price{
    display: none;
  }
  .name{
    font-size: rem(14px);
    line-height: 1.1;
  }
  .about{
    display: none;
  }
  .requestPrice, .addCart{
    display: none;
  }
  .pag_1{
    display: none;
  }
  .searchAllResult{
    display: block;
    width: 100%;
    font-size: rem(14px);
    text-align: center;
    padding: rem(8px);
    font-weight: bold;
  }
  .errorMessage{
    font-size: 14px;
    padding: 8px;
    line-height: 1.1;
    text-align: center;
  }
}
.header__nav {
  display: flex;
  @include media-breakpoint-down(sm) {
    visibility: hidden;
    opacity: 0;
    transform: translateX(20px);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $primary;
    flex-direction: column;
    padding: 24px;
    overflow-x: scroll;
    transition: all $time;
    &.--visible {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }
  }
}
.header__nav-item {
  padding: 0 rem(9px);
  transition: all $time;
  position: relative;
  &:hover {
    background-color: #134788;
    .header__nav-sub {
      opacity: 1;
      visibility: visible;
    }
  }
}
.header__nav-link {
  color: #fff;
  font-size: rem(15px);
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: rem(12px) 0;
  @include media-breakpoint-down(sm) {
    padding: 4px 0;
    font-size: 14px;
  }
  &:hover {
    color: #bfd5f0;
  }
  &.--with-dropdown {
    &:after {
      content: "";
      width: rem(8px);
      height: rem(5px);
      margin-left: rem(4px);
      background-image: url(../images/header__dropdown.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
.header__nav-sub {
  visibility: hidden;
  opacity: 0;
  transition: all $time;
  position: absolute;
  top: 100%;
  left: 0;
  width: rem(170px);
  padding: rem(16px) 0;
  border-radius: 0 0 rem(4px) rem(4px);
  background-color: #134788;
  @include media-breakpoint-down(sm) {
    visibility: visible;
    opacity: 1;
    position: static;
    background-color: transparent;
    padding: 0;
    padding-bottom: 8px;
    padding-left: 14px;
    width: auto;
  }
  &.--right {
    left: auto;
    right: 0;
  }
}
.header__nav-sub-item {
  position: relative;
  transition: all $time;
  &:hover {
    & > .header__nav-sub-link {
      background-color: #053672;
    }
    .header__nav-sub-sub {
      opacity: 1;
      visibility: visible;
    }
  }
}
.header__nav-sub-sub {
  visibility: hidden;
  opacity: 0;
  transition: all $time;
  position: absolute;
  top: 0;
  left: 100%;
  width: rem(170px);
  border-radius: 0 0 rem(4px) rem(4px);
  @include media-breakpoint-down(sm) {
    visibility: visible;
    opacity: 1;
    position: static;
    background-color: transparent;
    padding: 0;
    padding-bottom: 8px;
    padding-left: 14px;
    width: auto;
  }
  .header__nav-sub-link {
    background-color: #053672;
    &:hover {
      background-color: #00295c;
    }
  }
}
.header__nav-sub-link {
  background-color: #134788;
  padding: rem(8px) rem(9px);
  color: #fff;
  display: block;
  font-size: rem(14px);
  @include media-breakpoint-down(sm) {
    background-color: transparent;
    padding: 4px 0;
  }
  &:hover {
    background-color: #053672;
    color: #bfd5f0;
  }
}
