.heading{
  padding-top: rem(12px);
  margin-bottom: rem(32px);
}
.heading__breadcrambs{
  font-size: rem(14px);
  color: $black70;
  margin-bottom: rem(11px);
}
.heading__h1{
  font-size: rem(32px);
  margin-top: 0;
  margin-bottom: 0;
}