.news{
  padding-top: rem(40px);
}
.news__header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: rem(24px);
  align-items: baseline;
}
.news__h2{
  margin-top: 0;
}
.news__all{
  font-size: rem(16px);
  color: $primary;
}
.news__items{
  display: flex;
  margin: 0 rem(-12px);
  @include media-breakpoint-down(sm){
    flex-wrap: wrap;
    margin: 0;
  }
  }
.news__item{
  padding: 0 rem(12px);
  width: 25%;
  padding-top: rem(24px);
  border-top: rem(1px) solid $black20;
  @include media-breakpoint-down(sm){
    width: 100%;
    padding: 0;
    &+.news__item{
      margin-top: 32px;
      padding-top: 15px;
    }
  }
  }
.news__title{
  margin-bottom: rem(16px);
  font-size: rem(16px);
  color: $primary;
  line-height: 130%;
  display: block;
  font-weight: bold;
}
.news__cont{
  font-size: rem(14px);
  color: $black70;
  margin-bottom: rem(16px);
  line-height: 130%;
}
.news__footer{
  border-top: rem(1px) solid $black20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(16px);
}
.news__date{
  font-size: rem(12px);
  color: $black60;
}
.news__more{
  width: rem(110px);
  height: rem(32px);
  font-size: rem(14px);
}